{% extends 'base.html.twig' %}

{% block title %}A Propos{% endblock %}

{% block body %}
<h3 class="about">A Propos de mon site</h3>
<section class="chapter">
    <h4>Sommaire</h4>
    <div id="check" class="container">
        <ul>
            <a href="#me">
                <li>Qui suis-je ?</li>
            </a>
            <a href="#goals">
                <li>Le but de ce site</li>
            </a>
            <a href="#methodology">
                <li>Ma méthode de travail</li>
            </a>
            <ul>
                <li>Brainstorming</li>
                <li>Design et modélisations</li>
                <li>Tâches et planification</li>
            </ul>
            <a href="#code">
                <li>La phase de développement</li>
            </a>
            <ul>
                <li>Côté front</li>
                <li>Côté back</li>
                <li>Autres outils</li>
            </ul>
            <a href="#sum-up">
                <li>Bilan et axes d'amélioration</li>
            </a>
        </ul>
    </div>
</section>
<hr id="hr-about">
<section class="about-content">
    <h6 id="me">Qui suis-je ?</h6>
    <div class="container">
        <p>&nbsp;&nbsp;Je m'appelle Soufiane Aït Ouarraou, développeur web de 26 ans résidant à Paris. Passionné par la
            technologie
            depuis l’enfance, j’aime beaucoup les challenges qui poussent à dépasser sa zone de confort. <br><br> &nbsp;&nbsp;La création (et le déploiement!) de ce site en est définitivement un.</p>
        <div class="illustration">
            <img src="{{ asset('build/images/portrait.jpg') }}" alt="Soufiane en ville">
        </div>
    </div>
    <h6 id="goals">Le but de ce site</h6>
    <div class="container">
        <p>&nbsp;&nbsp;Actuellement en formation de développeur web à la Wild Code School, j’ai voulu me mettre au défi
            d'appliquer ce que j’ai appris jusqu’ici en réalisant un projet personnel. <br><br> &nbsp;&nbsp;Et étant un amateur de cinéma, j’ai
            pensé qu’il serait intéressant de pouvoir partager mes goûts cinématographiques de manière plus fun via un site web.</p>
    </div>
    <h6 id="methodology">Ma méthode de travail</h6>
    <div class="container">
        <li>Brainstorming :</li>
        <p>&nbsp;&nbsp;L’idée était claire dès le début. <br> Elle m’est venue suite à un exercice réalisé en
            formation intitulé « Wild-Series ». Je voulais proposer à la fois des séries mais aussi des films aux
            visiteurs de mon site, tout en mettant en place un système de discussion.</p>
        <li>Design et modélisations :</li>
        <p>&nbsp;&nbsp;Je suis un passionné de design. <br> C’est l'endroit où je libère ma créativité, où je la laisse
            m’emmener vers les sentiers battus de mon imagination. <br><br> &nbsp;&nbsp;Pour ce site, je suis resté sur un visuel relativement sobre et épuré. Le but principal étant de me concentrer sur la partie back, et non le front.
            <br><br> &nbsp;&nbsp;Après quelques croquis réalisés à la main, j'ai utilisé le logiciel en ligne <strong>Figma</strong> pour la création de ma maquette.
        </p>
        <div class="illustration">
            <img src="{{ asset('build/images/maquette.png') }}" alt="Maquette du site">
        </div>
        <li>Tâches et planification :</li>
        <p>&nbsp;&nbsp;Pour mon organisation, mon tableau blanc a largement a fait l’affaire. J'ai trouvé qu'il n'avait rien à envier à <strong>Trello</strong> pour un court projet comme celui-ci.
        </p>
        <div class="illustration">
            <img src="{{ asset('build/images/ardoise.png') }}" alt="Mon tableau blanc">
        </div>
    </div>
    <h6 id="code">Le développement du site</h6>
    <div class="container">
        <p>&nbsp;&nbsp;L’objectif de ce site, comme je le disais était de mettre en application mes connaissances, notamment
            en PHP/Symfony. </p>
        <li>Côté front :</li>
        <div class="tools">
            <div class="tool">
                <i class="fab fa-html5"></i>
                <p>HTML</p>
            </div>
            <div class="tool">
                <i class="fab fa-css3"></i>
                <p>CSS</p>
            </div>
            <div class="tool">
                <i class="fab fa-bootstrap"></i>
                <p>Bootstrap</p>
            </div>
            <div class="tool">
                <i class="fas fa-code"></i>
                <p>Twig</p>
            </div>
        </div>
        <li>Côté back :</li>
        <div class="tools">
            <div class="tool">
                <i class="fab fa-php"></i>
                <p>PHP</p>
            </div>
            <div class="tool">
                <i class="fab fa-symfony"></i>
                <p>Symfony</p>
            </div>
            <div class="tool">
                <i class="fab fa-js"></i>
                <p>JavaScript</p>
            </div>
        </div>
        <li>Autres outils :</li>
        <div class="tools">
            <div class="tool">
                <i class="fab fa-sass"></i>
                <p>Sass</p>
            </div>
            <div class="tool">
                <i class="fab fa-git"></i>
                <p>Git</p>
            </div>
        </div>
    </div>
    <h6 id="sum-up">Bilan et axes d'amélioration</h6>
    <div class="container">
        <p>&nbsp;&nbsp;Pour ce premier projet <strong>axé back-end</strong> réalisé en solo, j’ai trouvé que je me suis pas trop mal débrouillé. Certaines parties
            furent plus challengeantes que d’autres, évidemment. <br><br> &nbsp;&nbsp;Par exemple, j'avais imaginé un <strong>système de recherche</strong> relativement plus poussé que celui que j'ai finalement réussi à mettre en place. Ma marge de progression est donc plutôt grande.
            <br><br>
        <p>&nbsp;&nbsp;Quelques leçons apprises pendant le développement de ce projet :</p>
        <ul>
            <li>je devrais modéliser une base de donnée plus simple, en utilisant le moins de tables de jointures possible</li>
            <li>faire encore plus de back</li>
            <li>le front-end est une partie bien chronophage, et que j'ai sous-estimé</li>
        </ul>
        <br>
        <p style="font-size: 1.5rem;">&nbsp;&nbsp;Comme vous pouvez le voir, j’ai encore énormément de choses à apprendre et ça tombe bien ! <br><br>
            Je suis actuellement <strong>à la recherche d’une alternance</strong> pour une <u>durée d’un an</u>.
            Elle peut débuter <strong>entre le 28 février et le 7 mars 2022</strong>.
        </p>
        <br><br>
        <p>Retrouvez plus d'informations à mon sujet <a href="https://docdro.id/BzXikyJ" target="blank"><strong>en consultant mon CV</strong></a> ou en me contactant directement <a
                href="mailto:soufiane.ait@outlook.fr"><strong>par mail</strong></a>.</p>
    </div>
</section>
{% endblock %}