{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
<section class="screen">
    <img id ="screen" src="{{ asset('build/images/mobile-bg.png') }}">
    <img id ="screen-desktop" src="{{ asset('build/images/desktop-bg.png') }}">
    <div class="browse">
        <a href="/series">
            <button class="btn">Parcourir</button>
        </a>
    </div>
</section>
<div class="seats"></div>
{% endblock %}