{% extends 'base.html.twig' %}

{% block title %}{{ app.user.username}}{% endblock %}

{% block body %}
<section class="profile-info">
    <h2>Mon Espace</h2>
    <hr>
    <button class="btn"><a href="/profile">{{ app.user.username }}&nbsp;<i class="bi bi-person-fill"></i></a></button>
</section>
<section class="dashboard">
    <h6><i class="bi bi-bookmark-plus-fill"></i>  Ma watchlist</h6>
    <div class="boxes">
        <a href="#">
            <div class="box">
                <h2>37</h2>
                <h4>séries</h4>
            </div>
        </a>
        <a href="#">
            <div class="box">
                <h2>14</h2>
                <h4>films</h4>
            </div>
        </a>
    </div>
    <h6><i class="bi bi-heart-fill"></i>  Mes favoris</h6>
    <div class="boxes">
        <a href="#">
            <div class="box">
                <h2>7</h2>
                <h4>séries</h4>
            </div>
        </a>
        <a href="#">
            <div class="box">
                <h2>8</h2>
                <h4>films</h4>
            </div>
        </a>
    </div>
    <h6><i class="bi bi-eye-fill"></i>  Déjà regardé</h6>
    <div class="boxes">
        <a href="#">
            <div class="box">
                <h2>5</h2>
                <h4>séries</h4>
            </div>
        </a>
        <a href="#">
            <div class="box">
                <h2>5</h2>
                <h4>films</h4>
            </div>
        </a>
    </div>
</section>


{% endblock %}