{{ form_start(form) }}
    {{ form_widget(form.comment) }}
    <div class="btn-container">
        <button class="btn btn-comment">{{ button_label|default('Publier') }}</button>
    </div>
{{ form_end(form) }}
