{% extends 'base.html.twig' %}

{% block title %}Toutes les séries{% endblock %}

{% block body %}
<section class="search">
    <div class="container">
        <form>
            <label for="search">Rechercher:</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search">
                <div class="input-group-append">
                  <button class="btn btn-success" type="submit">Go</button>
                </div>
            </div>
            <div class="row g-3">
                <div class="col-6">
                    <label for="genre">Genre:</label>
                    <select class="form-select">
                        <option>Tous</option>
                    </select>
                </div>
                <div class="col-6">
                    <label for="rate">Popularité:</label>
                    <select class="form-select">
                        <option>Toutes</option>
                    </select>
                </div>
            </div>
            <div class="row g-3">
                <div class="col-6">
                    <label for="year">Année:</label>
                    <select class="form-select">
                        <option>Toutes</option>
                    </select>
                </div>
                <div class="col-6">
                    <label for="orderBy">Trier par:</label>
                    <select class="form-select">
                        <option>Dernier ajout</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</section>
<section class="results">
    <h2>123 séries</h2>
    <div class="cards">
        {% for serie in series %}
        <div class="card">
            <img class="card-img-top" src=" {{ serie.poster }} " alt="Card image cap">
            <div class="card-body">
                <h5>{{ serie.title }}</h5>
                <p class="card-text">{{ serie.startYear }} - aujourd'hui</p>
            </div>
        </div>
        {% endfor %} 
    </div>       
</section>
{% endblock %}
