{{ form_start(form) }}

<h4>Recherche</h4>
<div class="form-group">
    {{ form_row(form.q) }}
    {{ form_row(form.category) }}
    <button type="submit" class="btn btn-blackbox">Rechercher</i></button>
</div>


{{ form_end(form) }}
