{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<section class="login">
    <h2>Connecte-toi à ton espace personnel</h2>
    <div class="container">
        <form class="login-form" method="post">
            <label for="inputUsername">Nom d'utilisateur:</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control"
                autocomplete="username" required autofocus>
            <label for="inputPassword">Mot de passe:</label>
            <input type="password" name="password" id="inputPassword" class="form-control"
                autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"<>
            <div class="submit-container">
                <button type="submit" class="btn btn-login">Me connecter</button>
            </div>
            {% if error %}
            <div class="error">
                {# {{ error.messageKey|trans(error.messageData, 'security') }} #}
                <p>Ton nom d'utilisateur et/ou ton mot de passe est incorrect</p>
            </div>
            {% endif %}
        </form>
    </div>
    <h2>Pas encore de compte ?</h2>
    <a href="/register" class="btn btn-signup">Inscris-toi en 1 minute</a>
</section>
{% endblock %}