@import "custom.scss";
@import "~bootstrap/scss/bootstrap";

.navbar {
    background: $darkBg;

    a {
        font-family: $ubuntuMedium;
        font-size: 0.8rem;
        padding: 0;
    }
    hr {
        height: 2px;
        width: 40%;
        color: $lightText;
    }
    .btn {
        font-size: 0.8rem;
        padding: 0.2rem 0.5rem;
        color: white;
    }
    .btn-login {
        background: rgb(24, 139, 59);
    }
    .btn-profile {
        background: $lightBg;
    }
    .btn-logout{
        background: rgba(133, 19, 19, 0.5);
    }
    .navbar-brand{
        margin: 0 1rem;
        font-size: 1.2rem;
        font-family: $ubuntuBold;
    }
    .bi-three-dots-vertical {
        filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(30deg) brightness(103%) contrast(101%);
    }
    .navbar-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
    }
}