@import "custom.scss";
@import "~bootstrap/scss/bootstrap";

html {
    scroll-behavior: smooth;
}

body {
    background-color: $mainBg !important;
    color: white;
}

// Text style

h1 {
    font-size: 3rem !important;
}

h1, h2, h3, h4, h5, h6, p, input {
    font-family: $ubuntuRegular;
}

input, select {
    font-family: $ubuntuMedium !important;
}

a {
    color: white !important;
}