// COLORS

//Backgrounds
$darkBg: #09001A;
$mainBg: #0D0027;
$lightBg: #221243;

// Buttons
$editBtn: #726f3e;
$deleteBtn: #a30f23;

// Text
$lightText: #857c94;

// Filters
$lightFilter: invert(53%) sepia(7%) saturate(905%) hue-rotate(221deg) brightness(93%) contrast(87%);
$favoriteFilter: invert(33%) sepia(64%) saturate(7497%) hue-rotate(340deg) brightness(87%) contrast(95%);
$watchFilter: invert(8%) sepia(86%) saturate(1522%) hue-rotate(242deg) brightness(95%) contrast(102%);

// FONTS
$inikaBold: "Inika Bold";
$inikaRegular: "Inika Regular";
$ubuntuBold: "Ubuntu Bold";
$ubuntuLight: "Ubuntu Light";
$ubuntuMedium: "Ubuntu Medium";
$ubuntuRegular: "Ubuntu Regular";