// COLORS

//Backgrounds
$darkBg: #09001A;
$mainBg: #0D0027;
$lightBg: #221243;

// Buttons
$editBtn: #723e4f;
$deleteBtn: #a30f23;

// Text
$lightText: #857c94;

// FONTS
$inikaBold: "Inika Bold";
$inikaRegular: "Inika Regular";
$ubuntuBold: "Ubuntu Bold";
$ubuntuLight: "Ubuntu Light";
$ubuntuMedium: "Ubuntu Medium";
$ubuntuRegular: "Ubuntu Regular";