@font-face {
    font-family: "Inika Bold";
    src: url("../fonts/Inika-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Inika Regular";
    src: url("../fonts/Inika-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Ubuntu Bold";
    src: url("../fonts/Ubuntu-Bold.ttf");
    font-weight: bolder;
}

@font-face {
    font-family: "Ubuntu Light";
    src: url("../fonts/Ubuntu-Light.ttf");
    font-weight: lighter;
}

@font-face {
    font-family: "Ubuntu Medium";
    src: url("../fonts/Ubuntu-Medium.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Ubuntu Regular";
    src: url("../fonts/Ubuntu-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Viga Regular";
    src: url("../fonts/Viga-Regular.ttf");
    font-weight: normal;
}