@import "custom.scss";
@import "~bootstrap/scss/bootstrap";

body {
    section.screen {
        height: 33rem;
        #screen {
            width: 100vw;
        }
        .browse {
            margin-top: -4rem;
            width: 100vw;
            display: flex;
            justify-content: center;
            button {
                background-color: #493080;
                color: white;
            }
        }
    }
    .seats {
        height: 15rem;
        background-image: url("../images/seats.png");
        background-position: center;
        background-size: cover;
    }
}
