@import "custom.scss";
@import "~bootstrap/scss/bootstrap";

section.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    h2 {
        margin: 2.5rem;
        text-align: center;
    }
    .container {
        background: $darkBg;
        padding: 2rem;
        width: 80%;
        .form-group {
            margin-bottom: 1rem;
        }
        a {
            color: $lightText !important;
        }
        p {
            margin: 1rem 0 0 0;
            font-size: 0.8rem;
            text-align: center;
        }
        .btn-login {
            margin-top: 1rem;
            background: rgb(24, 139, 59);
            color: white;
        }
        .submit-container {
            display: flex;
            justify-content: center;
        }
        .form-label {
            margin: 0;
        }
    }
    .btn-signup {
        background: $lightBg;
        margin-bottom: 2rem;
    }
    .btn-signin {
        background: $darkBg;
        margin-bottom: 2rem;
    }

    .register {
        input {
            margin-bottom: 1rem;
        }
    }
}