<footer>
    <div class="logo">
        <img src="{{ asset('build/images/logo.png') }}" alt="Logo de BlackBox">
        <h4>BlackBox</h4>
    </div>
    <div class="credits">
        <p>Réalisé par <strong>Soufiane Aït Ouarraou</strong></p>
        <p>Etudiant à la <a href="https://www.wildcodeschool.com/" target="_blank">Wild Code School</a></p>
    </div>
        <div class="container">
            <div class="social">
                <a href="https://www.linkedin.com/in/soufiane-ait/" target="_blank">
                    <i class="bi bi-linkedin"></i>
                    <p>LinkedIn</p>
                </a>
            </div>
            <div class="social">
                <a href="https://github.com/soufcod3/blackbox" target="_blank">
                    <i class="bi bi-github"></i>
                    <p>GitHub</p>
                </a>
            </div>
            <div class="social">
                <a href="https://docdro.id/BzXikyJ" target="_blank">
                    <i class="bi bi-file-earmark-person-fill"></i>
                    <p>Mon CV</p>
                </a>
            </div>
        </div>
</footer>