<footer>
    <div class="socials">
        <div class="social">
            <a href="#">
                <div class="social">
                    <i class="bi bi-github"></i>
                </div>
            </a>
        </div>
    </div>
</footer>