<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="/">BlackBox</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <i class="bi bi-three-dots-vertical"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Accueil</a>
      </li>
      <hr>
      <li class="nav-item">
        <a class="nav-link" href="/about">A Propos</a>
      </li>
      <hr>
      <li class="nav-item">
        <a class="nav-link" href="/series">Séries</a>
      </li>
      <hr>
      <li class="nav-item">
        <a class="nav-link" href="/movies">Films</a>
      </li>
      <hr>
      {% if app.user %}
      <a href="/profile"><button class="btn btn-profile">Mon Espace&nbsp;<i class="bi bi-person-fill"></i>
      </button></a>
      <hr>
      <a href="{{ path('app_logout') }}"><button class="btn btn-logout">Déconnexion &nbsp;&nbsp;<i class="bi bi-box-arrow-right"></i></button></a>
      {% else %}
      <a href="{{ path('login') }}"><button class="btn btn-login">Me connecter</button></a>
      {% endif %}
    </ul>
  </div>
</nav>
